@font-face {
  font-family: "CabinetGrotesk-Regular";
  src: url("/Fonts/CabinetGrotesk-Regular.woff") format("woff");
}

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-cabinetGroteskRegular: "CabinetGrotesk-Regular", "sans-serif";
}
